@tailwind base;
@tailwind components;
@tailwind utilities;

@layer textDesktop {
  .heading1D {
    @apply font-medium text-3xl;
  }

  .heading2D {
    @apply font-normal text-2xl leading-9;
  }

  .heading3D {
    @apply font-normal text-xl leading-7;
  }

  .heading4D {
    @apply font-medium text-xl leading-5;
  }

  .heading5D {
    @apply font-normal text-base leading-7 space-y-2.5;
  }

  .body_large {
    @apply font-bold text-base;
  }

  .body_medium {
    @apply font-normal text-sm;
  }

  .body_smallD {
    @apply font-normal text-sm left-5 space-y-2.5;
  }
}

@layer textMobile {
  .heading1M {
    @apply font-normal text-xl leading-7;
  }

  .heading2M {
    @apply font-normal text-base leading-7 space-y-2.5;
  }

  .heading3M {
    @apply font-normal text-sm;
  }

  .body_smallM {
    @apply font-normal text-xs leading-5 space-y-2.5;
  }
}

.center {
  @apply max-w-[1248px] m-auto;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 31px;
}

.swiper-pagination-bullet-active {
  width: 16px !important;
  height: 16px !important;
  background-color: transparent !important;
  border: 1px solid #fff;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 1 !important;
}

/* range slider */

.multi-range-slider {
  border: none !important;
  box-shadow: none !important;
  padding: 0px !important;
  margin: 40px 0px 8px 0px;
}

.thumb::before {
  width: 2px !important;
  height: 10px !important;
  border-radius: 0% !important;
  margin: -4px 0px !important;
  box-shadow: none !important;
}

.bar-left,
.bar-right {
  box-shadow: none !important;
  border-radius: 0% !important;
  padding: 0px !important;
}

.max-caption,
.min-caption {
  display: none !important;
}

.bar {
  height: 2px;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.hideMenuNav {
  position: absolute;
  transform: translateY(-1000px);
  transition: all 0.2s ease-out;
}

.showMenuNav {
  position: fixed;
  transition: all 0.2s ease-out;
  transform: translateY(0);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: white;
  z-index: 10;
  justify-content: space-evenly;
  align-items: center;
}

.fixed {
  position: fixed;
}
